<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144469066804-n1i1nbk1nm91h9rb95vb1j8382juhkul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144469066804-n1i1nbk1nm91h9rb95vb1j8382juhkul</string>
	<key>API_KEY</key>
	<string>AIzaSyDmi7gshIkFYuYyh3G0i4gtb0EdWLFOGBk</string>
	<key>GCM_SENDER_ID</key>
	<string>144469066804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VS.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ea12d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ea12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144469066804:ios:8c65ee1950b4fbf7ceb661</string>
</dict>
</plist>